<!doctype html>
<html lang="en">
<head>
{% block title %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}
{% include 'comm/header.html' %}
{% block css_js %}
{% endblock %}
</head>
<body>
{% include 'comm/top.html' %}
{% include 'comm/nav.html' %}
{% block content %}
{% endblock %}
{% include 'comm/call.html' %}
{% include 'comm/footer.html' %}
</body>
</html>