<!doctype html>
<html lang="en">
<head>
{% block title %}
    <meta charset="utf-8" />
    <title>婚恋交友网站模板整站下载_在线演示_电脑网站模板_前端模板_js代码</title>
    <meta name="keywords" content="婚恋交友,网站模板,整站下载" />
    <meta name="description" content="婚恋交友网站模板整站下载，下载包含37个子页面，在线演示仅提供首页。" />
{% endblock %}
{% include 'comm/header.html' %}
{% block css_js %}
{% endblock %}
</head>
<body>
{% include 'comm/top.html' %}
{% include 'comm/nav.html' %}
{% block content %}
{% endblock %}
{% include 'comm/call.html' %}
{% include 'comm/footer.html' %}
</body>
</html>