<div class="nav-box">
      <div class="nav">
        <a href="">网站首页</a>
        <a href="">了解我们</a>
        <a href="">搜索会员 </a>
        <a href="">婚恋课堂 </a>
        <a href="">活动专题 </a>
        <a href="">婚恋故事</a>
        <a href="">联系社区工作人员</a>
        <a href="">个人中心</a>
      </div>
    </div>
 <div class="copy">
    <p>COPYRIGHT 2015  南昌万家囍婚恋交友网  版权所有 赣ICP备15002274号-1</p>
    <p>地址：进贤县香江商业街27号  电话：138-7915-5305  技术支持：<a target="_blank" href="http://www.0791jr.com/">嘉瑞科技</a></p>
</div>