
		<link type="image/x-icon" rel=icon href="/static/images/icon.png" />
		<link type="text/css" rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/static/js/koala.min.1.5.js"></script>
        <script type="text/javascript" src="/static/js/search.js"></script>
        <script type="text/javascript" src="/static/js/jquery.collapse.js" ></script>
        <script type="text/javascript">
        function stopsss(){
           return false;
        }
        document.oncontextmenu=stopsss;
        </script>
