
		<link type="image/x-icon" rel=icon href="{{url_for('static',filename='mages/icon.png')}}" />
		<link type="text/css" rel="stylesheet" href="{{url_for("static",filename='css/style.css')}}">
        <script type="text/javascript" src="{{url_for('static',filename='js/jquery-1.8.3.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/comment.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/koala.min.1.5.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='js/jquery.collapse.js')}}" ></script>
        <script type="text/javascript">
        function stopsss(){
           return false;
        }
        document.oncontextmenu=stopsss;
        </script>
