<!--举报-->
<div class="ddd">
	<div class="popup-title"><i class="popup-close"><img src="/static/images/close.png"/></i></div>
    <div class="s-jubao-box">
    	<div class="s-jubao-left">
    	   <img src="/static/images/bgimg.jpg" />
    	   <p class="title">菇凉有点温柔</p>
    	   <p>会员号：<span>100001</span></p>
           <p>年龄：<span>26</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 学历：<span>大专</span>   </p>
           <p>身高：<span>160cm</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;职业：<span>销售</span></p>
           <p>房产：<span>有房</span></p>
    	</div>
    	<div class="s-jubao-right">
    	   <img src="/static/images/mlogo.png" />
    	   <ul class="jubao-infor">
    	    	<li><span>标题：</span><input type="text" class="jubao-name"/></li>
    	   	    <li><span>会员号：</span><em>0001</em></li>
    	     	<li><span>上传图像等文件：</span><input type="file" class="jubao-pic"/></li>
    	   	    <li><span>举报理由：</span><textarea class="jubao-text"></textarea></li>
    	   	    <li><button class="jubao-btn">确认提交</button></li>
    	   </ul>
    	</div>
    </div>
</div>

<script type='text/javascript'>
	$(function(){
		 new PopUp_api({el:'.s-jubao',html:'.ddd'});
	})()
    </script>