<div class="head">
    <div class="top">
		  	 <div class="top-left">
		  	 	<a href="javascript:;" class="top-coll" onclick="AddFavorite('', 'http://www.ncwjxhljyw.com')">收藏万家喜</a> |
		  	 	<a href="" class="top-att">关注万家喜</a>
		  	 </div>
		  	 <div class="top-right">
		  	 	<a href="{{url_for('home.reg')}}">注册</a> |
		  	 	<a href="{{url_for('home.login')}}">登录</a>
		  	 </div>
    </div>
      <div class="top-ban">
        <div class="top-mid-box">
          <a href="" class="logo"><img src="{{url_for("static",filename='images/logo.png')}}"/></a>
          <div class="adv"><img src="{{url_for("static",filename='images/adv.png')}}"/></div>
          <div class="tele"><img src="{{url_for("static",filename='images/tele.png')}}"/></div>
          <div class="erweima"><img src="{{url_for("static",filename='images/erwei.png')}}"/></div>
        </div>
      </div>
</div>
