{% extends 'comm/comm.html' %}
{% block css_js %}
   <style>
		    .main-log{ height: 300px; width: 350px; margin-bottom: 30px; background: #fff;}
		    .main-logbox{ width: 300px;}
			.main-user-input{ width: 270px;}
			.main-log .tit{ height: 50px; line-height: 50px; font-size: 24px;}
			.login-left{ width: 650px;}
			.login-left img{ margin: 50px 0px 0px 200px;}
			.main-btn{ width: 300px; margin-top: 50px;}
	</style>
<script>
    function match_iphone(){
            var vail=true
            var uphone=$('#uphone').val()
            var code=$('#code').val()
            if(uphone.length!=11){
                alert('输入的手机号格式不对')
                $('#uphone').focus()
                vail=false
            }else if(code.length!=4){
                alert('输入的验证码格式不对')
                $('#uphone').focus()
                vail=false
            }
            return vail
        }
        function get_yzm(){
            $.ajax({
                url:'/get_yzm/',
                type:'get',
                dataType:'json',
                async:true,
                success:function(data){
                    if(data.status){
                        alert('短信发送成功，请等待接受')
                    }else{
                        alert('短信发送失败，请重新发送')
                    }
                }
            })
        }
</script>
{% endblock %}
{% block content %}
		<div class="main">
			<div class="main-box1">
				<div class="login-left"><img src="/static/images/loginpic.png"/></div>
				<div class="login-right">
					<img src="/static/images/mmlogo.png"  style="margin-left: 30px;"/>
					<div class="main-log">
					<div class="tit1">
						<a href="/login/" class="return">返回登录</a>
						<a href="/" class="return-home">返回首页</a>
					</div>
                        <form action="/findpassword/" method="post" onsubmit="return match_iphone();">
					<div class="main-logbox">
						<i class="main-user1"></i>
						<input placeholder="手机号码" type="text" id="uphone" name="uphone" class="main-user-input">
					</div>
					<div class="main-logbox" style="border: 0;">
					     <input type="text" name="code" name="code" id="code" placeholder="手机验证码" class="yzm">
					     <button type="button" onclick="get_yzm()">获取验证码</button>
					</div>
					<button class="main-btn">下一步</button>
                        </form>
				</div>
				</div>
            </div>
        </div>
{% endblock %}