{% extends 'comm/comm.html' %}
{% block css_js %}
   <style>
		    .main-log{ height: 300px; width: 350px; margin-bottom: 30px; background: #fff;}
		    .main-logbox{ width: 300px;}
			.main-user-input{ width: 270px;}
			.main-log .tit{ height: 50px; line-height: 50px; font-size: 24px;}
			.login-left{ width: 650px;}
			.login-left img{ margin: 50px 0px 0px 200px;}
			.main-btn{ width: 300px; margin-top: 50px;}
	</style>
{% endblock %}
{% block content %}
		<div class="main">
			<div class="main-box1">
				<div class="login-left"><img src="/static/images/loginpic.png"/></div>
				<div class="login-right">
					<img src="/static/images/mmlogo.png"  style="margin-left: 30px;"/>
					<div class="main-log">
					<div class="tit1">
						<a href="" class="return">找回密码</a>
						<a href="" class="return-home">返回首页</a>
					</div>
					<div class="main-logbox">
						<i class="main-user1"></i>
						<input placeholder="手机号码" type="text" class="main-user-input">
					</div>
					<div class="main-logbox" style="border: 0;">
					     <input type="text" name="code" placeholder="手机验证码" class="yzm">
					     <button>获取验证码</button>
					</div>
					<button type="button" class="main-btn">下一步</button>

				</div>
				</div>
            </div>
        </div>
{% endblock %}