{% extends 'comm/comm.html' %}
{% block css_js %}
<script>
    $(function(){
        $('.search-btn').click(function(){
            var val=$('#search_input').val()
            window.location.href="http://127.0.0.1:5000/search/?val="+val;
        })
      })
</script>
{% endblock %}
{% block content %}
		<div class="main">
			<div class="main-box1">
			<div class="main-left"><!--left-->
				<div class="search-top">
					<div class="search">
						<input type="text" placeholder="更多心仪对象，请搜索" id="search_input" />
						<button class="search-btn"><img src="/static/images/search.png"/></button>
					</div>
				</div>
				<ul class="sequence">
					<li><a href="" class="sort_a"><i class="sort_a1">综合排序</i></a></li>
					<li><a href="" class="sort_a"><i class="sort_a1">最新会员</i></a></li>
					<li><a href="" class="sort_a"><i class="sort_a1">魅力值</i></a></li>
				</ul>
				<ul class="main-member">
                    {% for user in paginate1 %}
					<li>
						<a href="#">
						  <img src="/static/media/{{user.image}}">
						  <p class="mem-num">{{user.nickname}}</p>
						  <p class="mem-text"> |  本科  |  165CM   <br> 销售  |  有房</p>
					    </a>
					</li>
                    {% endfor %}
				</ul>
				<div class="page">
        {% if paginate.has_prev %}
        <a href="/search/?page={{ paginate.prev_num }}">上一页</a>
    {% endif %}

    {% for i in paginate.iter_pages() %}
        <a href="/search/?page={{ i }}">{{ i }}</a>
    {% endfor %}

    {% if paginate.has_next %}
        <a href="/search/?page={{ paginate.next_num }}">下一页</a>
    {% endif %}

				</div>
			</div><!--left-->
			<div class="main-right"><!--right-->
				<div class="main-log">
					<div class="tit">会员登录</div>
					<div class="main-logbox">
						<i class="main-user"></i>
						<input placeholder="账户名" type="text" class="main-user-input" />
					</div>
					<div class="main-logbox">
						<i class="main-password"></i>
						<input placeholder="密码" type="text" class="main-user-input" />
					</div>
					<button type="button"  class="main-btn">立即登录</button>
					<div class="main-pass-text">没有帐号？<a href="">免费注册</a><a href="" class="forget">忘记密码 ></a></div>
				</div>
				<div class="main-radv"><img src="/static/images/adv2.png"/></div>
				<div class="main-radv"><img src="/static/images/adv1.png"/></div>
				<div class="main-message">
					<div class="tit">最新会员推荐</div>
					<ul class="member-list">
						<li>
							<img src="/static/images/bgimg.jpg" />
							<p>会员号：100001</p>
                            <p>婚况：未      年龄：26</p>
                            <p>学历：大专   身高：160cm</p>
                            <p> 职业：CEO   房产：有房</p>
						</li>
						<li>
							<img src="/static/images/bgimg.jpg" />
							<p>会员号：100001</p>
                            <p>婚况：未      年龄：26</p>
                            <p>学历：大专   身高：160cm</p>
                            <p> 职业：CEO   房产：有房</p>
						</li>
					</ul>
				</div>
{% endblock %}



