{% extends 'comm/comm.html' %}
{% block content %}
		<div class="main">
			<div class="main-box1">
				<div class="main-left"><!--left-->
				<div class="search-top">
					<div class="search">
						<input type="text" placeholder="更多心仪对象，请搜索昵称" id="text_s">
						<button class="search-btn"><img src="/static/images/search.png"/></button>
					</div>
					<ul class="search-find">
						<li>
							<span>我要找：</span>
							<select id="op_g">
								<option>男朋友</option>
								<option>女朋友</option>
							</select>
						</li>
						<li>
							<span>出生年月：</span>
							<select id="op_b">
								<option>1989</option>
								<option>1990</option>
								<option>1991</option>
								<option>1992</option>
								<option>1993</option>
								<option>1994</option>
								<option>1995</option>
                                <option>1996</option>
                                <option>1997</option>
                                <option>1998</option>
                                <option>1999</option>
                                <option>2000</option>
                                <option>2001</option>
							</select>
						</li>
					</ul>
					<button class="s-btn" onclick="T_search(1,0);">搜索</button>
					<!--<a class="s-btn" onclick="T_search(1);">搜索</a>-->
				</div>
				<div class="sequence" id="show" style="display:none">
				</div>
				<ul class="sequence">
					<li><a href="javascript:void(0);" class="sort_a" onclick="T_search(1,1);">身高排序<i
							class="sort_a1">
					</i></a></li>
					<li><a href="javascript:void(0);" class="sort_a" onclick="T_search(1,2);">资产排序<i
							class="sort_a1">
					</i></a></li>
					<li><a href="javascript:void(0);" class="sort_a" onclick="T_search(1,3);">活跃会员<i
							class="sort_a1">
					</i></a></li>
				</ul>

				<ul class="main-member">
					{% for user in page_data %}
					<li>
						<a href="/memberinfor/?id={{user.user_id}}">
							<img src="/static/media/{{ user.image }}" width="150px" height="140px">
						  <p class="mem-num">昵称：{{ user.nickname }}</p>
						  <p class="mem-text">{{ user.age }}  |  {{ user.education }}  |  {{ user.high }}<br> {{ user.profession }}  | {{ user.property }}</p>
					    </a>
					</li>
					{% endfor %}

				</ul>
				<div class="page">
					{% if paginate %}
					  {% if paginate.has_prev %}
						<a href="/search/?page={{ paginate.prev_num }}">上一页</a>
					  {% endif %}
					  {% for i in paginate.iter_pages() %}
                        {% if i %}
                        {% if i==paginate.page %}
						<a href="#" style="background:red;">{{ i }}</a>
                        {%else%}
                            <a href="/search/?page={{ i }}">{{ i }}</a>
                        {% endif %}
                        {% else %}
                            <a href="#">&hellip;</a>
                        {% endif %}
					  {% endfor %}
					  {% if paginate.has_next %}
					　 	<a href="/search/?page={{ paginate.next_num }}">下一页</a>
					  {% endif %}　
						当前页数：[{{ paginate.page }}/{{ paginate.pages }}]&nbsp;
					{% endif %}
				</div>
				</div><!--left-->
				<div class="main-right"><!--right-->
					{% if is_login %}
                <div class="main-radv"><img src="/static/images/adv2.png"/></div>
                {% else %}
				<div class="main-log">
					<div class="tit">会员登录</div>
                    <form action="/login/" method="post">
					<div class="main-logbox">
						<i class="main-user"></i>
						<input placeholder="账户名" type="text"  id='uphone' name="uphone" class="main-user-input">
					</div>
					<div class="main-logbox">
						<i class="main-password"></i>
						<input placeholder="密码" type="password" id='upass' name="upass"  class="main-user-input">
					</div>
					<button type="submit" name="submit" id="btn1" class="main-btn">立即登录</button>
                    </form>
					<div class="main-pass-text">没有帐号？
                        <a href="/reg/">免费注册</a><a href="/findpassword/" class="forget">忘记密码 &gt;</a>
                    </div>

                    </div>
                {% endif %}
					<div class="main-message">
						<div class="tit">活跃会员推荐</div>
						<ul class="member-list">
							{% for mem in new_list %}
							<li>
                                <li>
								<a
                                        href="/memberinfor/?id={{mem.user_id}}"><img
                                        src="/static/media/{{ mem.image }}" /></a>
								<p>昵称：{{ mem.nickname }}</p>
								<p>年龄：{{ mem.age }}</p>
								<p>学历：{{ mem.education }}   身高：{{ mem.high }}</p>
								<p> 职业：{{ mem.profession }}   房产：{{ mem.property }}</p>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
{% endblock %}