{% extends 'comm/comm.html' %}
{% block content %}
		<div class="main">
			<div class="main-box1">
			<div class="main-left"><!--left-->
				<div class="search-top">
					<div class="search">
						<input type="text" placeholder="更多心仪对象，请搜索" />
						<button class="search-btn"><img src="{{url_for("static",filename='images/search.png')}}"/></button>
					</div>
					<ul class="search-find">
						<li>
							<span>我要找：</span>
							<select>
								<option>男朋友</option>
								<option>女朋友</option>
							</select>
						</li>
						<li>
							<span>出生年月：</span>
							<select>
								<option>1990</option>
								<option>1991</option>
							</select>
						</li>
					</ul>
					<button class="s-btn">搜索</button>
				</div>
				<ul class="find-infor">
					<li>
						<span>户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;籍</span>
						<div class="infor-link">
							<a href="" class="cur">不限</a>
							<a href="">本地 </a>
							<a href="">南昌县</a>
							<a href="">西湖区</a>
							<a href="">东湖区 </a>
							<a href="">新建县</a>
							<a href="">安义县</a>
							<a href="">湾里区 </a>
						</div>
					</li>
					<li>
						<span>出生年月</span>
						<div class="infor-link">
							<a href="" class="cur">不限</a>
							<a href="">90后</a>
							<a href="">80后</a>
							<a href="">70后</a>
						</div>
					</li>
					<li>
						<span>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历</span>
						<div class="infor-link">
							<a href="" class="cur">不限</a>
							<a href="">高中及以下</a>
							<a href="">专科</a>
							<a href="">本科 </a>
							<a href="">硕士 </a>
							<a href="">博士  </a>
						</div>
					</li>
					<li>
						<span>婚姻状况</span>
						<div class="infor-link">
							<a href="" class="cur">不限</a>
							<a href="">未婚</a>
							<a href="">离异无孩</a>
							<a href="">离异有孩 </a>
							<a href="">丧偶</a>
						</div>
					</li>
					<li>
						<span>从事地方</span>
						<div class="infor-link">
							<a href="" class="cur">不限</a>
							<a href="">本地 </a>
							<a href="">北京</a>
							<a href="">上海</a>
							<a href="">广东</a>
							<a href="">杭州 </a>
							<a href="">重庆 </a>
							<a href="">云南</a>
							
						</div>
					</li>
					<li>
						<span>从事工作</span>
						<div class="infor-link">
							<a href="" class="cur">不限</a>
							<a href="">销售 </a>
							<a href="">互联网</a>
							<a href="">账务</a>
							<a href="">教育培训</a>
							<a href="">翻译  </a>
							<a href="">管理    </a>
							<a href="">医疗 </a>
							<a href="">酒店 </a>
						</div>
					</li>
					<li>
						<span>月 &nbsp;收 &nbsp;入</span>
						<div class="infor-link">
							<a href="" class="cur">不限</a>
							<a href="">3万以下 </a>
							<a href="">3万以下</a>
							<a href="">5-8万 </a>
							<a href="">8-12万</a>
							<a href="">12-18万</a>
							<a href="">18-30万    </a>
							<a href="">30-100万 </a>
						</div>
					</li>
					<li>
						<span>住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;房</span>
						<div class="infor-link">
							<a href="" class="cur">不限</a>
							<a href="">必须有房 </a>
						</div>
					</li>
				</ul>
				<ul class="sequence">
					<li><a href="" class="sort_a"><i class="sort_a1">综合排序</i></a></li>
					<li><a href="" class="sort_a"><i class="sort_a1">最新会员  </i></a></li>
					<li><a href="" class="sort_a"><i class="sort_a1">魅力值</i></a></li>
				</ul>
				<ul class="main-member">
					<li>
						<a href="">
						  <img src="{{url_for("static",filename='images/test.png')}}">
						  <p class="mem-num">会员号：00001</p>
						  <p class="mem-text">25岁  |  本科  |  165CM   <br> 销售  |  有房</p>
					    </a>
					</li>
					<li>
						<a href="">
						  <img src="{{url_for("static",filename='images/test1.png')}}">
						  <p class="mem-num">会员号：00001</p>
						  <p class="mem-text">25岁  |  本科  |  165CM   <br> 销售  |  有房</p>
					    </a>
					</li>
				</ul>
				<div class="page">
					<a href="" class="cur">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<span>...</span>
					<a href="">24</a>
					<a href="">下一页</a>
				</div>
			</div><!--left-->
			<div class="main-right"><!--right-->
				<div class="main-log">
					<div class="tit">会员登录</div>
					<div class="main-logbox">
						<i class="main-user"></i>
						<input placeholder="账户名" type="text" class="main-user-input" />
					</div>
					<div class="main-logbox">
						<i class="main-password"></i>
						<input placeholder="密码" type="text" class="main-user-input" />
					</div>
					<button type="button"  class="main-btn">立即登录</button>
					<div class="main-pass-text">没有帐号？<a href="">免费注册</a><a href="" class="forget">忘记密码 ></a></div>
				</div>
				<div class="main-radv"><img src="{{url_for("static",filename='images/adv2.png')}}"/></div>
				<div class="main-radv"><img src="{{url_for("static",filename='images/adv1.png')}}"/></div>
				<div class="main-message">
					<div class="tit">最新会员推荐</div>
					<ul class="member-list">
						<li>
							<img src="{{url_for("static",filename='images/bgimg.jpg')}}" />
							<p>会员号：100001</p>
                            <p>婚况：未      年龄：26</p>
                            <p>学历：大专   身高：160cm</p>
                            <p> 职业：CEO   房产：有房</p>
						</li>
						<li>
							<img src="{{url_for("static",filename='images/bgimg.jpg')}}" />
							<p>会员号：100001</p>
                            <p>婚况：未      年龄：26</p>
                            <p>学历：大专   身高：160cm</p>
                            <p> 职业：CEO   房产：有房</p>
						</li>
					</ul>
				</div>
{% endblock %}



