{% extends 'comm/comm.html' %}
{% block css_js %}
   <style>
		    .main-log{ height: 300px; width: 350px; margin-bottom: 30px; background: #fff;}
		    .main-logbox{ width: 300px;}
			.main-user-input{ width: 270px;}
			.main-log .tit{ height: 50px; line-height: 50px; font-size: 24px;}
			.login-left{ width: 650px;}
			.login-left img{ margin: 50px 0px 0px 200px;}
			.main-btn{ width: 300px; margin-top: 50px;}
	</style>
<script>
    function match_pass(){
            var vail=true
            var upass=$('#upass').val()
            var upass1=$('#upass1').val()
            if(upass==''|| upass1!=upass){
                alert('输入的密码不一致')
                $('#upass').val('')
                $('#upass1').val('')
                $('#upass').focus()
                vail=false
            }
            return vail
        }

</script>
{% endblock %}
{% block content %}
		<div class="main">
			<div class="main-box1">
				<div class="login-left"><img src="/static/images/loginpic.png"/></div>
				<div class="login-right">
					<img src="/static/images/mmlogo.png"  style="margin-left: 30px;"/>
					<div class="main-log">
					<div class="tit1">
						<a href="/login/" class="return">返回登录</a>
						<a href="/" class="return-home">返回首页</a>
					</div>
                        <form action="/updatepassword/" method="post" onsubmit="return match_pass();">
					<div class="main-logbox">
						<i class="main-password"></i>
						<input placeholder="新密码" type="password" name="upass" id="upass" class="main-user-input">
					</div>
					<div class="main-logbox">
						<i class="main-password"></i>
						<input placeholder="确认新密码" type="password"  name="upass1" id="upass1" class="main-user-input">
					</div>
					<button type="button" class="main-btn">下一步</button>
                        </form>
				</div>
				</div>
			</div>
        </div>
{% endblock %}